.list_item {
    border-radius: 8px;
    margin: 8px;
    padding: 16px;
    transition: .3s;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.list_item:hover {
    background: rgba(122, 121, 121, 0.56);
}
.list_item.active {
    background-color: #d0aa2f;
}